table,tr,td{
	/*border:1px solid black;*/
}
td{
	width:15px;
	height:15px;
}

table{
	 border-collapse:collapse;
}

.snake{
	position: fixed;
	border-radius: 50%;
	background-color: black;
	width:13px;
	height:13px
}

.food{
	background-color: pink;
	width:10px;
	height:10px

}